.container {
  position: relative;
}

.button {
  background-color: var(--button-bg-primary);
  height: 5.25vh;
  width: 150px;
  border-radius: 24px;
  border: 1px white;
  color: var(--text-negative);
  font-size: 1.55vh;
  font-weight: 500;
  font-family: "Allerta Stencil";
  transition: 1000ms;
  cursor: pointer;
  &:hover {
    background-color: var(--button-bg-hover);
  }
}

@media screen and (max-width: 768px) {
  .gif {
    position: absolute;
    width: 9vh;
    left: 10vh;
    top: -12vh;
    transition: 1000ms ease-in-out;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-left: 10vh;
    margin-top: 18vh;
    width: 50%;
    .header1 {
      font-size: 7vh;
    }
    .header2 {
      font-size: 4vh;
    }
    .header3 {
      font-size: 2vh;
    }
  }
}

@media screen and (min-width: 768px) {
  .gif {
    position: absolute;
    width: 10vw;
    left: 8vw;
    top: -6vw;
    transition: 1000ms ease-in-out;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-left: 19vw;
    margin-top: 18vh;
    width: 50%;
    .header1 {
      font-size: 7vh;
    }
    .header2 {
      font-size: 4vh;
    }
    .header3 {
      font-size: 2vh;
    }
  }
}
