@import "../../color-themes.scss";

.avatar {
  height: 4vw;
  width: 4vw;
  margin-right: 12px;
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 4vw;
    margin-left: 4vw;
  }

  .navMenuWrapper {
    position: relative;
    z-index: 1;
    width: fit-content;
  }

  .sideBar {
    position: absolute;
    height: 100vh;
    top: -4vw;
    left: -100vw;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: grey;
    transition: all 0.5s ease;
    opacity: 0.9;
  }

  .sideBar.open {
    left: -4vw;
  }

  .icon {
    position: absolute;
    top: 1vw;
    left: -100vw;
    transition: all 0.5s ease;
  }
  .icon.open {
    left: 1vw;
  }

  .navList {
    display: flex;
    margin: 0px;
    flex-direction: column;
    gap: 8px;
    font-size: 3vw;
    padding: 12px;
    transition:
      visibility 0s,
      opacity 0.5s linear;
  }

  .navItem {
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 4px;
    &:hover {
      background-color: black;
    }
  }

  .navItem > a {
    color: var(--text-primary);
    font-size: 2.5vw;
    transition: 1000ms;
  }

  .gif {
    width: 18vw;
    align-self: center;
    margin-top: 16vw;
    margin-bottom: 4vw;
  }
}

@media screen and (min-width: 768px) {
  .navMenuWrapper {
    position: relative;
    z-index: 1;
    width: fit-content;
  }

  .navItem > a {
    color: var(--text-primary);
    font-size: 1.5vw;
    transition: 1000ms;
  }

  .header {
    margin-top: 8vw;
    margin-left: 15%;
  }

  .navMenuWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .navList {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 36px;
    color: var(--text-primary);
  }

  .navItem {
    display: flex;
  }
}
