.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.iconGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.75s ease;
  &:hover {
    transform: translateY(2vw);
  }
}

.rope {
  position: absolute;
  width: 1vw;
  right: 2vw;
  top: -2vw;
}

.sun {
  position: absolute;
  right: 0.5vw;
  top: 4vw;
  height: 4vw;
}

// @keyframes pull-down {
//   100% {
//     transform: translateY(2vw);
//   }
// }
