:root {
  body {
    --bg-main-1: #d7d1f6;
    --bg-main-2: #486c9d;
    --text-primary: #000000;
    --text-negative: #ffffff;
    --button-bg-primary: #816aad;
    --button-bg-hover: #544079;
    --icon-bg: #ffffff;
    --navbar-bg: #b09ac3;
    --navbar-hover: #c3bce5;
  }
}

[data-theme="dark"] {
  body {
    --bg-main-1: #3f3669;
    --bg-main-2: #052147;
    --text-primary: #ffffff;
    --text-negative: #000000;
    --button-bg-primary: #b799d1;
    --button-bg-hover: #6a568f;
    --icon-bg: transparent;
    --navbar-bg: #222340;
    --navbar-hover: #272f57;
  }
}
