@import "./color-themes.scss";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  transition: 1000ms;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: var(--text-primary);
  overflow: hidden;
}

.App.dark {
  background: linear-gradient(135deg, #3f3669, #052147);
}

.App.light {
  background: linear-gradient(135deg, #d7d1f6, #b8bbe4);
}

@keyframes mymove {
  from {
    background: linear-gradient(135deg, #d7d1f6, pink);
  }
  to {
    background: linear-gradient(135deg, #3f3669, #052147);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
